.Rproj.user
.Rhistory
.RData
.Ruserdata

*.svg

# Ignore csv files in these folders because Rdas are more space efficient
data/calibration/Apollo_Calib_20240827/*.csv
data/light_testing/4a_20240905/*.csv
data/li

# Raw spectrometry files
data/calibration/Apollo_Calib_20240827/raw/
data/light_testing/4a_20240905/raw/
